:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: white;
    font-size: 16px;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-body2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.logo-footer {
    width: 30%;
}

.logo-navbar {
    width: 100px;
}

.contain-bg {
    background-color: gray;
    margin-top: 150px;
}

.left-content {
    width: 100%;
}

.title-about {
    text-align: center;
    padding: 10px;
}

.text-about {
    text-align: justify;
}

.text-about p {
    color: white;
}

.block {
    display: block;
}

/* .right-content {
} */

.navbar {
    position: fixed;
}

.list {
    background-color: white;
}

.image-home {
    max-width: 100%;
    height: auto;
}

.bg-footer {
    background-color: black;
}

.discord-edit {
    padding-bottom: 20px;
}

.title-visit {
    text-align: center;
    padding: 10px;
}

.image-visit {
    width: 100%;
}

.map-edit {
    padding: 30px;
    width: 100%;
}

.follow-icon {
    display: flex;
    justify-content: center;
}

.icon-edit {
    margin: 0 5px;
    padding: 6px;
    background-color: black;
    border-radius: 30%;
}

.icon-edit:hover {
    background-color: lightblue;
}

.br-edit {
    border: 1px solid red;
    background-color: red;
}

.input-edit {
    padding: 10px 0;
}

.login-edit {
    margin: auto;
    width: 50%;
    margin-top: 150px;
}

.logo-login {
    width: 150px;
}

.logo-title {
    font-size: x-large;
}

.link-regi {
    position: relative;
    bottom: 10px;
}

.text-red-600 {
    color: red;
    list-style-type: none;
}

.card {
    color: var(--clr-neutral-100);
    max-width: 35ch;
    transition: transform 500ms ease;
}

.card:hover {
    transform: scale(1.02);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
    transition: transform 500ms ease;
}

.card-body {
    color: rgb(0 0 0 / 0.85);
}

.card-title {
    color: black;
    position: relative;
    width: max-content;
    padding-bottom: 5px;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--clr-neutral-400);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.card-price {
    color: black;
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-400);
    padding: 0.5em 1.25em;
    width: max-content;
    margin: 0 0 18px 18px;
}

.card-title,
.card-title::after {
    padding-left: 1.15rem;
}

.ellipsis-title {
    width: 15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pagination {
    justify-content: center;
    padding: 1rem;
}

.project-info-box {
    margin: 15px 0;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 5px;
}

.project-info-box p {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5dadb;
}

.project-info-box p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}
.rounded {
    border-radius: 5px !important;
}
.btn-xs.btn-icon {
    width: 34px;
    height: 34px;
    max-width: 34px !important;
    max-height: 34px !important;
    font-size: 10px;
    line-height: 34px;
}

.btn-xs.btn-icon span,
.btn-xs.btn-icon i {
    line-height: 34px;
}
.btn-icon.btn-circle span,
.btn-icon.btn-circle i {
    margin-top: -1px;
    margin-right: -1px;
}
.btn-icon i {
    margin-top: -1px;
}
.btn-icon span,
.btn-icon i {
    display: block;
    line-height: 50px;
}
a.btn,
a.btn-social {
    display: inline-block;
}
.mr-5 {
    margin-right: 5px !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}

.btn-circle {
    border-radius: 50% !important;
}
.project-info-box p {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5dadb;
}
p {
    font-family: "Barlow", sans-serif !important;
    font-weight: 300;
    font-size: 1rem;
    color: #686c6d;
    letter-spacing: 0.03rem;
    margin-bottom: 10px;
}
b,
strong {
    font-weight: 700 !important;
    color: black;
}

.detail-bg {
    padding: 2rem;
}

.button1 {
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.button1 a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
}

.button1:hover {
    opacity: 0.8;
}

.cart_section {
    width: 100%;
    padding-top: 93px;
    padding-bottom: 111px;
}

.cart_title {
    font-size: 30px;
    font-weight: 500;
}

.cart_items {
    margin-top: 8px;
}

.cart_list {
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    list-style-type: none;
}

.cart_item {
    width: 100%;
    padding: 15px;
    padding-right: 46px;
}

.cart_item_image {
    width: 133px;
    height: 133px;
    float: left;
}

.cart_item_image img {
    max-width: 100%;
}

.cart_item_info {
    width: calc(100% - 133px);
    float: left;
    padding-top: 18px;
}

.cart_item_name {
    margin-left: 7.53%;
}

.cart_item_title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.cart_item_text {
    color: black;
    font-size: 18px;
    margin-top: 35px;
}

.cart_item_text span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 11px;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
}

.cart_item_price {
    text-align: right;
}

.cart_item_total {
    text-align: right;
}

.order_total {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right: 46px;
    padding-left: 15px;
    background-color: #fff;
}

.order_total_title {
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 60px;
}

.order_total_amount {
    color: black;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px;
}

.cart_buttons {
    margin-top: 60px;
    text-align: right;
}

.cart_button_clear {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.5);
    background: #ffffff;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px;
}

.cart_button_clear:hover {
    border-color: #0e8ce4;
    color: #0e8ce4;
}

.cart_button_checkout {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top;
}

.plus-button {
    border: 2px solid lightgrey;
    background-color: #fff;
    font-size: 16px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;
    position: relative;
}

.plus-button::before {
    height: 1em;
    width: 0.2em;
}

.plus-button::after {
    height: 0.2em;
    width: 1em;
}

.plus-button::after,
.plus-button::before {
    content: "";
    display: block;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus-button--small {
    font-size: 12px;
}

.pull-right {
    float: right;
}

.product_link:hover {
    text-decoration: none;
}

.product_link span:hover {
    color: lightblue;
}

.profile_edit {
    width: 50px;
    padding: 5px;
    border-radius: 50%;
}

.product_image {
    width: max-content;
    height: 200px;
}

.store_images {
    padding: 10px;
}

@media screen and (max-width: 1199px) {
    .text-contact {
        text-align: center;
    }
}

.text-red-600 li {
    color: red;
    padding-right: 40px;
}

@media screen and (min-width: 768px) {
    .row-bg {
        padding-left: 30px;
    }

    .left-contact {
        padding-left: 10px;
    }
    .map-edit {
        height: 500px;
    }
}

@media screen and (max-width: 767px) {
    .row-bg {
        padding: 0 20px;
    }
}
